@import "../../styles/styles.scss";

.skills {
  background-color: $light-grey;
}

.skill-card {
  position: relative;
  background-color: $dark-grey;
  height: 200px;
  width: 50%;
  margin: 1rem auto;
  overflow: hidden;

  .skill-img {
    padding-top: 2rem;
    @include center;

    img {
      height: 50px;
    }
  }

  .skill-text {
    @include center;
    padding: 5%;
    .text {
      font-size: 1.2rem;
      color: $white;
      display: flex;
      text-align: center;
      padding-top: 1rem;
    }
  }

  .card__front {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    transition: top 0.5s ease-in-out;
  }

  .card__inner {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 200px;
    transition: top 0.5s ease-in-out;

    visibility: hidden;

    .skill-icons {
      @include center;
      margin: 2rem;
      flex-direction: row;
      flex-wrap: wrap;
      img {
        margin: 2%;
        height: 40px;
      }
    }
  }

  &:hover {
    background-color: lighten(black, 5%);
    .card__inner {
      top: 0;
      visibility: visible;
    }

    .card__front {
      top: -200px;
    }
  }
}

@media screen and (min-width: 769px) {
  .skill-card {
    width: auto;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 10px;
    overflow: auto;
    margin: 5% 0;
    .item {
      min-height: 200px;
      margin: 1vh;
    }
  }
}
