@import '../../styles/styles.scss';

.intro {
    padding-top: 2.5rem;
}

.contact .line {
    margin: 1rem 0 1rem 0;
    display: block;
    width: 3rem;
    height: 2px;
    background-color: $gold;
    cursor: pointer;
}

.contact-me-btn {
    background: transparent;
    border-radius: 3px;
    border: 2px solid $gold;
    color: $gold;
    margin: 2rem 0;
    padding: 1rem;
}

.personal-img {
    display: block;
    height: 20rem;;
    margin: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: $gold;
}

@media screen and (min-width:600px) {
    .contact{
        display: inline-block;
        padding: 30px;
    }
    .image {
        display: inline-block;
        padding: 30px;
        position: static;
    }

    .summary {
        display: inline-block;
        padding: 30px;
    }

    .personal-img {
        height: 18rem;
    }
}