$dark-grey: rgb(44, 45, 50);
$grey: rgb(38, 39, 43);
$light-grey: rgb(55, 57, 62);
$white: rgb(255, 255, 255);
$gold: rgb(193, 174, 112);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    font-family: sans-serif;
}

:root {
    background-color: $dark-grey;
}

a {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    color: $white;
}

h2 {
    font-size: 2rem;
    color: $white;
    padding: 0.5rem 0;
}

h3 {
    color: $white;
    font-size: 1.8rem;
    padding: 0.5rem 0;
}

h4 {
    color: $gold;
    font-size: 1rem;
    padding-top: 2.5vh;
}

p {
    font-size: 1rem;
    color: $white;
    padding: 1vh 0;
}

.gold {
    color: $gold
}


.section {
    padding: 1vh 1rem 5vh;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* for Desktop view  */
@media screen and (min-width:769px) {
    .section {
        padding: 5vw 10vw;
    }

    .text-area {
        h1, h2, h3, h3, h4, p {
            text-align: center;
            padding: 1vh 10%;
        }

    }

}


