@import '../../styles/styles.scss';
.contacts {
    background-color: $light-grey;

    .mediums {
        @include center;
        flex-wrap: wrap;

        padding: 5% 0;

        .contact-card {
            @include center;
            text-align: center;
            background-color: $gold;
            height: 100px;
            width:300px;
            margin: 20px;
            box-shadow: -5px 10px 20px $dark-grey;

            border-radius: 20px;

            .icon {
                @include center;
                margin-right: 1rem;
            }

            a {
                @include center;
                color: white;
                height: 100px;
                width:300px;
                font-size: 1.2rem;
            }
        }
    }


}