@import '../../styles/styles.scss';

.project-grid {
    @include center;
    flex-wrap: wrap;

    .project-card {
        position: relative;
        height: 300px;
        width: 300px;
        padding-bottom: 1rem;
        margin: 3rem;

        border: 1px solid $light-grey;
        border-radius: 15px;


        background-color: $light-grey;

        box-shadow: -10px 5px 10px $grey;

        .project-img {
            height: 50%;

            img {
                border-radius: 15px 15px 0 0;
                height: 100%;
                width: 100%;
                display: flex;
            }
        }

        .text {
            height: 40%;
            text-align: center;
            overflow: hidden;

            p {
                font-size: 0.9rem;
                // margin: 50px;
                overflow: auto;
            }
        }

        .icons {
            height: 10%;
            @include center;

            // padding: 10px;
            img {
                height: 100%;
                margin: 0.2rem;
            }
        }

    }
}

@media screen and (min-width:769px) {
    .project-grid {

        .project-card {
            height: 400px;
            width: 400px;
        }

    }


}