@import '../../styles/styles.scss';

.project-card {
    height: 200px;
    width: auto;
    border: solid;
    border-color: $gold;
    margin: 1rem auto;

    .project-desc {
        text-align: center;
    }

    .project-img {
        padding-top: 2rem;
        @include center;
        
        img {
            height: 50px;
        }
    }

    .project-text .text {
        font-size: 1.2rem;
        color: $white;
        @include center;
        padding-top: 1rem;
    }
}